body {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: yellow;
  
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#divbg {
  background-image: url('assets/displayOnly.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

canvas {
        position: absolute;
        top: 13vh;
        left: 20.6vw;
        background-image: url(assets/map.png);
        
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.8;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #222;
  cursor: url(../img/cursor.png), crosshair;
}

.displayClass {
	width: 58vw;
  height: 35vw;
  background-color: black;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  margin: 0 auto;
  position: absolute;
  opacity: 0.9;

        top: 12.8vh;
        left: 20.6vw;
    
  display: block;
  border-radius: 5px;
  border: solid yellow 0px;
  color: white;
}

.videoDivClass {
 width: 58vw;
  height: 35vw;
  background-color: green;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  margin: 0 auto;
  position: absolute;
  opacity: 1;

        top: 14vh;
        left: 20.5vw;
    
  display: block;
  border-radius: 5px;
  border: solid darkgrey 0px;
}



.videoPlayerClass {
	position: absolute;	
	left: -4.5vw;
        padding-top: 2vh;
        width: calc(74vh * (16/9));
        height: 64vh;
        border: solid orange 0px;
       
        }

#videoDiv:hover + .videoButtonClass { display: block; transition-delay: 2.5s;
        transition-duration: 2s;}





.videoButtonClass {position: absolute;
  top: 48%;
  left: 48%;
          border-left: solid orange 10vh;
          border-top: solid transparent 5vh;
          border-bottom: solid transparent 5vh;
          border-right: transparent;

          background-color: transparent;
          border-radius: 7px;
          display: none;
        
        }
    

.videoButtonClass:hover {
           border-left: solid pink 11vh;
          border-top: solid transparent 5vh;
          border-bottom: solid transparent 5vh;
          display: block;

      }




.controls {
  min-height: 60px;
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
}





.selected {
  border: 7px solid #fff;
  width: 40px;
  height: 40px;
}

button {
  position: absolute;
  left: 12.6vw;

  background-color: rgba(0,255,255,0.3);
  border: solid white 2px;
  border-radius: 10%;
  box-shadow: 0 3px 0 0 #6A845F;
  color: #000000;
  width: 4vw;
  height: 2.2vh;
  cursor: pointer;
  transition-delay: 0,5s;
}
button:hover {
  background-color: rgba(0,0,255,0.3);
  transform: scale(0.95);
				}


.canvasBtn {
  position: absolute;
  left: 25vw;
  bottom: 23vh;
  background: black;
  width: 10vw;
  height: 10vh;
  color: #fff;
  outline: none;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 40px;
}




.buttonHome {top: 19vh;}


.buttonVideo {top: 33vh;}


.buttonAudio { top: 46vh;}

.buttonMap { top: 59vh;}






* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}




h3 {
  font-weight: 100;
  font-size: 28px;
  color: #ccc;
  line-height: 36px;
  margin-bottom: 1em;
}

form {
  width: auto;
}
form.success input {
  color: #8CE62C;
  border-color: #8CE62C;
}

input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  width: 40px;
  height: 50px;
  border: 1px solid #CCCCCC;
  display: block-inline;
  
  margin-right: 10px;
  outline: 0;
  font-size: 28px;
  color: #ccc;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
input:last-child {
  margin-right: 0;
}
input:hover {
  color: #9B9B9B;
}
input:focus {
  color: #0091FF;
  border-color: #0091FF;
}

.hint {
  display: none;
}

ul {
  padding-top: 2em;
  clear: both;
}
ul li {
  list-style-type: none;
}

strong {
  color: #777;
  font-weight: 200;
}