#gold {
    font-size: 100px;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(assets/gold.png) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    
}
    
#engraved {
    font-size: 100px;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background: -o-linear-gradient(transparent, transparent);
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
 }

#embossed{
  color: rgba(255, 255, 255, 0.4);
  font-size: 10vw;
  font-family: Futura;
  
  text-shadow: -0px -0px 6px rgba(200, 200, 200, 0.4);
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;

}

#layman {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: -1px 0 rgba(100, 145, 100, 0.5), 0 1px rgba(100, 145, 100, 0.5), 1px 0 rgba(100, 145, 100, 0.5), 0 -1px rgba(100, 145, 100, 0.5);
}
