body {
	background-image: url('assets/pedals.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  width: calc(100vh * (16/9));
  height: 100vh;
  border: dashed blue 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 0;
  display: relative;
}

.horn-body {
background-image: url('assets/driversview.png');}


#result {color: white;}



.pedal {

  position: relative;
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 80px;
  perspective: 700px;
  border: solid red 0px;
}
.pedal .acceleratorClass {
  background-image: url('assets/accelerator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  
  height: 105vh;
  width: 40vh;
  position: absolute;
  left: 15vh;
  transform: rotateX(0deg);
  transform-origin: 0 100%;
  transition: all 400ms ease-in-out;
  will-change: transform;
 border: dashed blue 0px;
 cursor: grab;
}

.pedal .acceleratorClass:active {
  transform: rotateX(30deg);
}







.hornClass {
  background-image: url('assets/carhorn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
  width: 25vh;
  position: relative;
  margin-top: 25vh;
  margin-left: 30vw;
  transition: all 200ms ease-in-out;
  will-change: transform;
 border: dashed blue 0px;
 cursor: grab;
}
.hornClass:active {
  transform: scale(0.9, 0.9);
}


#redbutton {background-color: red;
left: 40vh;
  top: 0.1vh;}

#bluebutton {background-color: blue;
left: 60vh;
  top: 0.1vh;}

#greenbutton {background-color: green;
left: 80vh;
  top: 0.1vh;}


.key:active {
  transform-style: preserve-3d;
  transform: scale(0.80, 0.20);

}

.key {
  position: absolute;
  padding: 2vh;
  transition-duration: 30ms;
  cursor: pointer;
}



p {font-size: 25px;}


.slide-a {transform: translate(0px, -3.0vh)}

.slide-b {transform: translate(0vh, -3.0vh)}

.slide-c {transform: translate(0px, -3.0vh)}

.slide-d {transform: translate(0px, -3.0vh)}



.shake {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}