body {
	background-image: url('assets/pedals.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  width: calc(100vh * (16/9));
  height: 100vh;
  border: dashed blue 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;

  padding-bottom: 0;
  display: relative;
}



#result {color: white;}



.pedal {

  position: relative;
  display: block;
  margin: 0 auto;
  height: 200px;
  width: 80px;
  perspective: 700px;
  -webkit-perspective: 700px;
  border: solid red 0px;
}
.pedal .acceleratorClass {
  background-image: url('assets/accelerator.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  
  height: 105vh;
  width: 40vh;
  position: absolute;
  left: 15vh;
  transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);  
    -ms-transform: rotateX(0deg);
  transform-origin: 0 100%;
    -webkit-transform-origin: 0 100%;
    -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
  will-change: transform;
  will-change: -webkit-transform;
 border: dashed blue 0px;
 cursor: grab;
}

.pedal .acceleratorClass:active {
  transform: rotateX(30deg);
  -webkit-transform: rotateX(30deg);  
      -ms-transform: rotateX(30deg);
}




p {font-size: 25px;}

