body{
    background-color: black;
    width: 42em;
    height: 100vh;
    border: 0px solid red;
    margin-left: auto;
    margin-right: auto;
       
        
        overflow-x: none;
        overflow-y: scroll;
}



#addoverlay {background-color: white; border: solid 4px grey; margin-top: 2px;
font-weight: bold; font-size: 18px; padding: 5px;
}

#addoverlay:hover {background-color: #e5e5ff; transition-delay: 0.3s}

#chessboard {
    background-image: url("images/chessboard-fancy.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 42em;
    height: 42em;

}

#overlay {
    background-image: url("images/chessboard-overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 42em;
    height: 42em;
    transform: rotate(180deg);
    
}