#chessboard {
    background-image: url("images/chessboard-fancy.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
}

#overlay {
    background-image: url("images/chessboard-overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    transform: rotate(180deg);
    
}