body {
  background-color: rgba(0,0,0,0.4);
  background-image: url(assets/ProfRoomBlurred.jpg);
background-position: center;
background-repeat: no-repeat;

background-size: 100vw 100vh;
width: 100vw;
height: 100vh;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;

padding-bottom: 0;
font-family: Metrophobic;
  font-variant-caps: small-caps;
   
        margin: 0;
}







.stylin {
        position: absolute; 
        background-image: url(assets/fieldmonitor.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: dashed red 0px;
        width: calc(100vh * (16/9));
        height: 100vh;

    }

.video-styling {
        position: absolute;
        width: calc(42vh * (16/9));
        height: 42vh;
        border: solid orange 0px;
        top: 39vh;
        left: 50vh;
        }

.button1 {position: absolute;
          width: 5.5vh;
          height: 4.7vh;
          top: 89.4vh;
          left: 104.2vh;
          background-color: rgba(255,0,0,0.1);
          border-radius: 7px;
        }
    

.button1:hover {
      background-color: rgba(0,255,0,0.2);}


.button2 {      position: absolute;
          width: 5.5vh;
          height: 4.7vh;
          top: 89.4vh;
          left: 113.3vh;
          background-color: rgba(255,255,0,0.1);
          border-radius: 7px;
}
    

    .button2:hover {background-color: rgba(0,255,0,0.2);}






