//track height
		$tkh: 20px
		//track width
		$tkw: $tkh * 2.0
		//thumb height
		$thh: $tkh - 4px
		//thumb width
		$thw: $thh
		
		=border-radius ($radius)
		  -webkit-border-radius: ($radius)
		  border-radius: ($radius)
		  
		=invisible
		  -webkit-appearance: none
		  appearance: none
		  
		//=animation
		  transition: background-color 0.25s ease-in-out
		  transition: position 0.25s ease-in-out

body{
	font-family: 'Libre Baskerville', serif;
	background-image: url(assets/cherrywood.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	height: auto;
	border: dashed blue 0px;
}


.stylin {
				position: absolute;
				left: 0;
				top: 0;	
				background-image: url(assets/radio-tight.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				border: dashed red 0px;
				width: calc(100vh * (16/9));
				height: 100vh;
				opacity: 1;
		}

		
		  
		  .wrapper {
			width: 24vh;
			height: auto;
			display: flex;
			position: absolute;
			top: 80vh;
			left: 74vh;
			justify-content: center;
			padding: 0x 0; 
		border: solid pink 0px;}
		  
		  #custom-toggle {
			-webkit-appearance: none;
			appearance: none;
			height: 8vh;
			width: 24vh;
			background-color: rgba(155, 0, 0, 0.0);
		
			padding: 0 0x;
			margin: 0;
			cursor: pointer; 
			border: solid rgba(255, 0, 234, 0.382) 0vh;
		
	  }
			
			
		
		
			#custom-toggle.tgl-def::-webkit-slider-thumb {
				background-image: url(assets/radio-switch.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 14vh;
				height: 6vh;
	  }
	
	  
			#custom-toggle.tgl-on::-webkit-slider-thumb {
				background-image: url(assets/radio-switch.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 14vh;
				height: 6vh;
			  }


			#custom-toggle.tgl-off::-webkit-slider-thumb {
				background-image: url(assets/radio-switch.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 14vh;
				height: 6vh;
			  }
			#custom-toggle::-webkit-slider-thumb {
			  -webkit-appearance: none;
			  appearance: none;
			  width: 4vh;
			  height: 2vh;
			  border: solid rgba(255, 0, 234, 0.382) 0vh;
			}
			#custom-toggle:focus {
			  outline: none; }
		  
		  .rangeActive {
			background-color: green; }

		  
		



.video-styling {
				position: absolute;
				background-image: url(assets/radio-switch.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: calc(42vh * (16/9));
				height: 42vh;
				border: solid orange 0px;
				top: 39vh;
				left: 50vh;
				}

#AMFMswitch {
				position: absolute;
				width: calc(42vh * (16/9));
				height: 42vh;
				border: solid orange 11vh;
				top: 39vh;
				left: 50vh;
}
		  


.button1 {position: absolute;
					width: 5.5vh;
					height: 4.7vh;
					top: 89.4vh;
					left: 104.2vh;
					background-color: rgba(255,0,0,0.1);
					border-radius: 7px;
				}
		

.button1:hover {
			background-color: rgba(0,255,0,0.2);}


.button2 {			position: absolute;
					width: 5.5vh;
					height: 4.7vh;
					top: 89.4vh;
					left: 0.3vh;
					background-color: rgba(255,255,0,0.1);
					border-radius: 7px;
}
		

		.button2:hover {
					background-color: rgba(0,255,255,0.2);}

p {margin: 0; padding: 0;}

.dialInfo{color:white; position: relative; text-align: center;}	
					
table {color: red; position: relative; text-align: center; border: solid 2px green;}
td {border: solid 2px blue;}

.dial {
	width: 20vh;
	height: 20vh;
	background: rgba(155, 0, 0, 0.0);
	border-radius: 50%;
	position: absolute;
	top: 66vh;
	align-items: center;
	justify-content: center;
	left: 128vh;
	z-index: 1;
	}
  
  
	
   .direction-indicator {
	width: 20vh;
	height: 20vh;
	border-radius: 50%;
	background: url(assets/clean-dial.png);
	background-position: center;
	background-size: 20vh 20vh;
	border: solid 0.4vh rgba(255, 0, 234, 0.382);
	position: absolute;
	opacity: 1;
	animation-name: throbbingFreqDial;
  	animation-duration: 5s;
  	animation-iteration-count: infinite;
}

@keyframes throbbingFreqDial {
  0% {border-color: rgba(255, 0, 234, 0.382);}
  50% {border-color: rgba(255, 255, 0, 0.567);}
  100% {border-color: rgba(255, 0, 234, 0.382);}
}

	
	#redbutton {background-color: red;
		left: 40vh;
		  top: 0.1vh;}
		
		#bluebutton {background-color: blue;
		left: 60vh;
		  top: 0.1vh;}
		
		#greenbutton {background-color: green;
		left: 80vh;
		  top: 0.1vh;}
		
		
		.key:active {
		  transform-style: preserve-3d;
		  transform: scale(0.80, 0.20);
		
		}


		.key {
			position: absolute;
			padding: 2vh;
			transition-duration: 30ms;
			cursor: pointer;
		  }


		  #frequencyBar {
			background-color: rgba(255, 230, 0, 0.534); 
			height: 3vh; 
			width: calc(1vh * (16/9)); 
			position: absolute; 
			left: calc(38vh * (16/9)); 
			top: 70vh;
		  }