body{width: auto;}

    


.toppy
{
    display: flex;
    color: #eeddff;
    border-style: dotted;
    border-width: 3px;
    border-color: blue; 
    width: 1000px;
    
}


#firstrule {
    background-image: url('../images/plaque.png'); 
    height: 140px;
    width: 1200px;
    font-size: 50px;
    border-style: dotted;
    border-width: 3px;
    border-color: skyblue; 
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
}




/* Container holding the image and the text */
.container {
  text-align: center;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

/* Centered text font-size: 2.2vh;s*/
.centered {
  position: absolute;
  font-size: 1.3vw; 

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}





p1 {
    font-size: 100px;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../images/gold.png) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    text-shadow: rgba(245,245,245,0.8) 3px 5px 1px;
}
    
#engraved {
    font-size: 3vw;
    font-family: "Fantasy" Papyrus;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background: -o-linear-gradient(transparent, transparent);
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
 }

#embossed{
  color: #f0f0f0;
  font-size: 10vw;
  font-family: Futura;
  background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;

}





#books
{
    /*flex-direction: column-reverse;*/
    /*display: flex;*/
    /*flex-direction: column-reverse;*/

}

#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    display: none;
}

.dropzone
{
  flex: 1;
}

.bookimg 
{

    width: 100%;
}

.draggable
{
  background:  rgba(0,0,0,0.0);
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  margin:      5%;
  padding-top:     5%;
  padding-left:     5%;
  padding-right:     5%;

}

.spaced
{
border-style: dotted;
border-color: red; 
margin: 5px;
padding-top: 10%;
padding-left: 3%;
padding-right: 3%;
background-image: url("../images/GRAVEREAL.png");
height: 120%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}


.blankarea
{

border-style: dotted;
padding: 10px; 
border-color: yellow; 

}


.outside
{
border-style: solid;
padding: 10px;  
border-color: green;

}









