#bodie {
background-image: url('../images/BG.png');

background-position: center;
background-repeat: no-repeat;
background-size: cover;

background-color: grey;

}

    


.toppy
{
    display: flex;
    color: #eeddff;
    border-style: dotted;
    border-width: 3px;
    border-color: blue; 
    width: 1000px;
    
}


#firstrule {
    background-image: url('../images/plaque.png'); 
    height: 140px;
    width: 1200px;
    font-size: 50px;
    border-style: dotted;
    border-width: 3px;
    border-color: skyblue; 
    margin: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
}


.right {
    border-style: double;
    border-color: red;
    border-width: 3px;

}

.left {
    border-style: double;
    border-color: blue;
    border-width: 3px;
}

/* Container holding the image and the text   rules   */
.container {
  text-align: center;
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.3s;

      

  
}


.container:hover
{transform: scale(1.2);
  cursor: w-resize;
  


}

/* Centered text font-size: 2.2vh;s    THE RULES */
.centered {
  position: absolute;
  font-size: 1.0vw; 
  font-weight: bolder;
  color: grey;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}





p1 {
    font-size: 100px;
    color:#c3a343;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
    url(../images/gold.png) repeat;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    text-shadow: rgba(245,245,245,0.8) 3px 5px 1px;
}
    
#engraved {
    font-size: 3vw;
    font-family: "Fantasy" Papyrus;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background: -o-linear-gradient(transparent, transparent);
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
 }

#embossed{
  color: #f0f0f0;
  font-size: 10vw;
  font-family: Futura;
  background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;

}




/*ID THAT JAVASCRIPT USES. ALSO THE DIV ABOVE GRAVES AND POTENTIALLY BLANKS*/
#books
{
    /*flex-direction: column-reverse;*/
    
    /*flex-direction: column-reverse;*/
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: flex;
}


.rightside
{
border-style: dotted;
border-color: blue; 
display: inline;



}


.rulez
{
border-style: dotted;
border-color: orange; 
display: block;
min-height: 40%;



}


/*DIV FOR ALL FOUR GRAVES*/
.graves
{
/*
border-style: solid;
border-color: yellow; 
*/
display: flex;
min-height: 40%
max-height: 40%;
}


/*DIV FOR EACH INDIVIDUAL GRAVE*/
.spaced
{
border-style: solid;
border-color: pink; 

padding-top: 18%;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;

margin-bottom: 0%;
background-image: url("../images/GRAVEREAL.png"); /**/
background-size: contain;
background-position: center;
background-repeat: no-repeat;
max-width: 25%;
/*

*/



}


/*DIV FOR ALL BLANK SPOTS*/
.blankarea {
border-style: dotted;
 
border-color: red; 

padding-top: 1%;
padding-left: 1%;
padding-right: 1%;

/*
background-image: url("");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/

}



.draggable
{
  background:  rgba(0,0,0,0.0);
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  padding-top:     3%;
  padding-left:     3%;
  padding-right:     3%;
  border-style: double dashed;
  border-color: blue;
  box-shadow: 0.5em 0.5em rgba(0,0,0,0.2);
  z-index: 100;
  display: flex;

}






#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    display: none;
}

/*  STARTING AREA FOR TABS  */
.dropzone
{
  min-height: 1%;
  flex: 0;
  border-style: double dashed;
  border-color: white;
}


.bookimg 
{
    width: 100%;
    margin: 0px;
}


.notbookimg 
{
    width: 100%;
    margin: 0px;
}

.notbookimg:hover 
{
    
  
}




