#books
{
    display: flex;

}

#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    display: none;
}

.dropzone
{
  flex: 1;
}

.bookimg 
{
    width: 100%;
}

.draggable
{
  background:  rgba(0,0,0,0.0);
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  margin:      5px;
  padding:     40px;

}

.spaced
{
border-style: dotted;
padding: 10px;  

}

.outside
{
border-style: solid;
padding: 10px;  

}