
.backgroundDiv {
width: 100vw; height: 100vh; position: absolute; left: 0; top: 0; 
background-image: url('images/orchardBG.png'); 
background-color: transparent; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
filter: blur(3px); 
z-index: -1;}


/* For desktop: */
.main {
width: 90vw; height: 60vw; 
padding: 0; 
position: absolute; left: 5vw; top 2vw; 
border: solid red 0px; 
background-image: url('images/bulletinBoard.png'); 

background-size: 90vw 60vw; 
background-repeat: no-repeat;


}

/*CROSSWORD*/
.crossword { 
  position: absolute; 
  left: 32vw; 
  top: 12vw; 
  max-width: 55vw;
  background-color: transparent;
  font-family: Indie Flower;
}

.riddleText{
color:white;
width: 30vw;}

.crosswordTable td{
  border: solid 1px white;
  width: 50%;
}
/*CROSSWORD ENDS*/





/*RADIO POST-IT*/
.note { position: absolute; 
        left: 76vw; 
        top: 50vw; 
        width: 10vw;
        height: 10vw;
        background-color: rgba(240, 200, 0, 1.0);
        transition-duration: 500ms;
        font-size: 0.5vw;
        padding: 0.3vw;
        font-family: Indie Flower;
        transition-delay: 100ms;
      }



#two {transform: scale(1) rotate(-5deg);}
#two:hover {transform: scale(3) rotate(1deg); z-index: 100; left:70vw; top: 40vw;}

td {border: solid 0px pink; width: 65%;}

/*RADIO POST IT ENDS*/



.xletter {
      font-family: 'Langar', cursive;
      background-color: rgba(0,0,0,0.03);
      border: transparent;
      border-bottom: dashed 1vw lightgray;
      
      color:white;
      font-size: 3vw;
      text-align: left;
      letter-spacing: 1vw;
      height: 3.5vw; 
    }


h2 {font-family: 'Langar';
      padding: 0;
      margin: 0;
       color: darkgrey;
      font-size: 4vw;
      text-align: left;}


h3 {font-family: 'Langar', cursive;
      padding: 0;
      margin: 0;
       color: black;
      font-size: 3vw;
      text-align: left;}


  

      .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



