
body {
  /*
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  */
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 100vh;
  padding: 0 auto;
  margin: 0 auto;
  background-color: black;

}

.backgroundDiv {
  background-image: url('images/bulletinBoard.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(100vh * (987/711));
  height: 100vh;
  font-family: sans-serif; 
  margin: 0;
  border: solid 0px red;
/*1250
703*/
  
}






/*CROSSWORD*/
.crossword { 
  position: absolute; 
  left: 40vh; 
  top: 17vh; 
  width: 75vh;
  height: 50vh;
  background-color: transparent;
  font-family: Indie Flower;
  font-size: 3vh;
}

.riddleText{
color:white;
width: 40vh;}

.crosswordTable td{
  border: solid 0px white;
  width: 50%;
}
/*CROSSWORD ENDS*/





/*RADIO POST-IT*/
.note { position: absolute; 
        left: 16vh; 
        top: 15vh; 
        width: 12vh;
        height: 10vh;
        background-color: rgba(240, 200, 0, 1.0);
        transition-duration: 500ms;
        font-size: 0.5vh;
        font-family: Indie Flower;
        transition-delay: 100ms;
      }

#two {transform: scale(1) rotate(-5deg);}
#two:hover {transform: scale(5) rotate(1deg); z-index: 100; left:24vh; top: 40vh;}
table {border: solid 0px rgb(255, 0, 43); width: 12vh; height: 10vh; margin: 0px; padding: 0 auto;}
td {border: solid 0px pink; margin: 0; padding: 0;}
tr {margin: 0px; padding: 0px;}

/*RADIO POST IT ENDS*/



.xletter {
      font-family: 'Langar', cursive;
      background-color: rgba(0,0,0,0.03);
      border: transparent;
      border-bottom: solid 1vh lightgray;
      margin-left: 1vh;
      color:white;
      font-size: 8vh;
      text-align: left;
      letter-spacing: 1vh;
      height: 8vh; 
      width: 30vh;
    }


h2 {font-family: 'Langar';
      padding: 0;
      margin: 0;
       color: darkgrey;
      font-size: 4vh;
      text-align: left;}


h3 {font-family: 'Langar', cursive;
      padding: 0;
      margin: 0;
       color: black;
      font-size: 3vh;
      text-align: left;}


  

      .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.johnnyPhotos {
  position: absolute;
  z-index: 1;
}