body {
  width: 800px;
  height: 568px;
  border: 0px red solid;
  background-image: url(images/bulletinBoard.png);
  background-position: left;
  background-size: 800px 568px;
  background-repeat: no-repeat;
 background-color: black;

}
/*
.backgroundDiv {
width: 180vh; height: 100vh; position: absolute; left: 0; top: 0; 
background-image: url('images/orchardBG.png'); 
background-color: transparent; 
background-position: center; 
background-repeat: no-repeat; 
background-size: 180vh 102vh; 
filter: blur(3px); 
z-index: -1;}
/*

/* For desktop: */
/*
.main {
width: 120vh; height: 90vh; 
padding: 0; 
position: absolute; left: 5vh; top: 2vh; 
border: solid red 0px; 
background-image: url('images/bulletinBoard.png'); 
background-size: 120vh 90vh; 
background-repeat: no-repeat;
}
*/

/*CROSSWORD*/
.crossword { 
  position: absolute; 
  left: 40vh; 
  top: 17vh; 
  width: 75vh;
  height: 50vh;
  background-color: transparent;
  font-family: Indie Flower;
  font-size: 3vh;
}

.riddleText{
color:white;
width: 40vh;}

.crosswordTable td{
  border: solid 1px white;
  width: 50%;
}
/*CROSSWORD ENDS*/





/*RADIO POST-IT*/
.note { position: absolute; 
        left: 16vh; 
        top: 60vh; 
        width: 10vh;
        height: 10vh;
        background-color: rgba(240, 200, 0, 1.0);
        transition-duration: 500ms;
        font-size: 0.5vh;
        padding: 0.3vh;
        font-family: Indie Flower;
        transition-delay: 100ms;
      }



#two {transform: scale(1) rotate(-5deg);}
#two:hover {transform: scale(5) rotate(1deg); z-index: 100; left:24vh; top: 40vh;}

td {border: solid 0px pink; width: 65%;}

/*RADIO POST IT ENDS*/



.xletter {
      font-family: 'Langar', cursive;
      background-color: rgba(0,0,0,0.03);
      border: transparent;
      border-bottom: solid 1vh lightgray;
      margin-left: 1vh;
      color:white;
      font-size: 8vh;
      text-align: left;
      letter-spacing: 1vh;
      height: 8vh; 
      width: 30vh;
    }


h2 {font-family: 'Langar';
      padding: 0;
      margin: 0;
       color: darkgrey;
      font-size: 4vh;
      text-align: left;}


h3 {font-family: 'Langar', cursive;
      padding: 0;
      margin: 0;
       color: black;
      font-size: 3vh;
      text-align: left;}


  

      .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.johnnyPhotos {
  position: absolute;
  z-index: 1;
}