#books
{
    display: flex;
}

#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    
}

.divholdingimgsettings {
    text-align:center;
        border-style: dashed; 
        border-width: 1px; 
        border-color: yellow; 
        align-items: center;
        justify-content: center;"
        float: right;
}

.imgsettings {
        text-align:center;
        border-style: dashed; 
        border-width: 1px; 
        border-color: red;
        width: 100%;
        height: auto; 
        align-items: center;
        justify-content: center;"
        }


.dropzone
{
  flex: 1;
}

.bookimg 
{
    width: 100%;
}

.draggable
{
  background:  #AAA;
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  margin:      4px;
  padding:     8px;
}