body{ background-image: url('../images/BOOKBG.jpg');
       width: 100vh;
       height: 82.5vh;
       
       margin-left: auto;
       margin-right: auto;
       padding-left: 0px;
       padding-right: 0px;
        border: solid blue 0px;

       
       align-items: center;
       justify-content: center;"
    }

  h3 {font-family: 'Langar', cursive;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 50px;
      text-align: center;}

      .container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




#books
{
    display: flex;
    padding-top: 15%;
}

#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    
}

.divholdingimgsettings {
    text-align:center;
        border-style: dashed; 
        border-width: 0px; 
        border-color: yellow; 
        align-items: center;
        justify-content: center;"
        float: right;
}

.imgsettings {
        text-align:center;
        border-style: dashed; 
        border-width: 0px; 
        border-color: red;
        width: 100vh;
       height: 82.5vh;
        align-items: center;
        justify-content: center;"
        }


.dropzone
{
  flex: 1;
}

.bookimg 
{
    width: 100%;
}

.draggable
{
  background:  #AAA;
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  margin:      4px;
  padding:     8px;
}