body{
    background-color: black;
    width: 480px;
    height: 640px;
    border: 0px solid red;
    margin-left: auto;
    margin-right: auto;
        overflow-x: none;
        overflow-y: none;
}

.main{border: solid orange 0px;}

.rebootstyling {width: 480px; height: 240px; margin: 0; object-fit: contain; position: absolute; border: dashed red 0px; z-index: 100;}

.letter {
      font-family: 'Langar', cursive;
      background-color: transparent;
      border: solid red 0.2vh;
      color: black;
      font-size: 2.7vh;
      text-align: center;
      width: 1.5vh; height: calc(1.5vh*2); position: absolute; 
    }



    h3 {font-family: 'Langar', cursive;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 50px;
      text-align: center;}

      h3:hover {
      font-size: 53px;
      transition: 0.3s;
      }

  

      .container {
  position: relative;
  text-align: center;
  color: white;
}



/*video { object-fit: 100%; }*/



/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
