.thebody{
    background-color: black;
    width: 100vw;
    height: 100vh;
    border: 0px solid red;
    margin-left: auto;
    margin-right: auto;
        
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="thebody"] {background-color: black;
    width: 100vw;
    height: auto;
    border: 0px solid blue;
    margin-left: auto;
    margin-right: auto;}}


.backgroundDiv {
width: 100vw; height: 100vh; position: absolute; left: 0; top: 0; 
background-image: url('images/laundryBG.jpeg'); 
background-color: transparent; 
background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 
filter: blur(3px); 
z-index: -1;}


/* For desktop: */
.main {
width: 53.125vh; height: 87.5vh; 
padding: 0; position: 
absolute; left: 5vw; bottom: 0; 
border: solid red 0px; 
background-image: url('images/sandwichboardsolo.png'); 

background-size: cover; 
background-repeat: no-repeat;


}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="main"] {
    width: 90vw;
    height: 100vh;
    border: solid green 0px;
    background-image: url('images/sandwichboardsolo.png'); 

background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 

  }
}





.note { position: absolute; 
        left: 37vh; 
        top: 10vh; 
        width: 4vh;
        height: 4vh;
        background-color: rgba(240, 200, 0, 1.0);
        transition-duration: 500ms;
        font-size: 0.5vh;
        padding: 0.3vh;
        font-family: Indie Flower;
  
      }


#one {transform: scale(1) rotate(10deg); }
#one:hover {transform: scale(7) rotate(1deg);z-index: 100;}    
#two {transform: scale(1) rotate(0deg);}
#two:hover {transform: scale(7) rotate(1deg);z-index: 100;}
#three {transform: scale(1) rotate(3deg);}
#three:hover {transform: scale(7) rotate(1deg);z-index: 100;}
#four {transform: scale(1) rotate(10deg);}
#four:hover {transform: scale(7) rotate(1deg);z-index: 100;}
#five {transform: scale(1) rotate(20deg);}
#five:hover {transform: scale(7) rotate(1deg);z-index: 100;}
#six {transform: scale(1) rotate(1deg);}
#six:hover {transform: scale(7) rotate(-1deg);z-index: 100;}





.rebootstyling {width: 100px; height: 100px; margin: 0; object-fit: contain; position: absolute; bottom: 0; right: 0px; border: dashed blue 0px; z-index: 90;}

.letter {
      font-family: 'Langar', cursive;
      background-color: transparent;
      border: transparent;
      border-bottom: dashed 1px grey;
      
      color: black;
      font-size: 2.7vh;
      text-align: center;
      width: 2.3vh; height: calc(1.5vh*2); position: absolute; 
    }

.xletter {
      font-family: 'Langar', cursive;
      background-color: transparent;
      border: transparent;
      border-bottom: dashed 1px grey;
      
      color: black;
      font-size: 3vh;
      text-align: left;
      
      height: 3.5vh; position: absolute; 
    }


h2 {font-family: 'Langar';
      padding: 0;
      margin: 0;
       color: darkgrey;
      font-size: 4vh;
      text-align: left;}


h3 {font-family: 'Langar', cursive;
      padding: 0;
      margin: 0;
       color: black;
      font-size: 3vh;
      text-align: left;}


  

      .container {
  position: relative;
  text-align: center;
  color: white;
}

/*video { object-fit: 100%; }*/

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



