body {margin: auto;
background-color: black;
border: solid pink 0px;
overflow-x: none;
        overflow-y: none;
 
 
width: 100vh;
height: 100vh;
justify-content: center;

align-items: center;
align-content: center;
vertical-align: center;
position: relative;

    
          


}


.letter {
      font-family: 'Langar', cursive;
      background-color: transparent;
      border: 0px solid blue;
      border-bottom: 0.3vh solid rgba(250, 99, 71, 0.7);
      color: white;
      font-size: 5.0vh;
      text-align: center;
    }


#emptypenta {   background-image: url('images/pentagram.jpg'); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vh; 
            height: 100vh; 
            margin: auto; 
            display: block; 
            object-fit: contain; 
            position: relative; 
            
            z-index: 50;
        }


    
#completed { 
            position: absolute; 
            background-image: url('images/pentagram-solved.jpg'); 
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
            width: 100vh; 
            height: 100vh; 
            margin: auto; 
            
            object-fit: contain;  
            border: dashed blue 0px;
            }


.rebootstyling { 
            position: absolute; 
            padding-left: 10px;
            padding-top: 10px;
            width: 100vh; 
            height: 7vh; margin: auto; 
            object-fit: contain; 
            position: relative; 
            border: dashed red 0px; 
            z-index: 100;;
            
            }




h3          {
            font-family: 'Langar', cursive;
            background-color: transparent;
            border: none;
            color: darkred;
            font-size: 5vh;
            padding-top: 30%;
            text-align: center;}


/*
      .container {
  position: relative;
  text-align: center;
  color: white;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/




