body{
  font-family: 'Arial', sans-serif;
  width: 100vw
  height: 100vh;
  border: dashed blue 0px;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  vertical-align: center;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  display: relative;

}
.romanNumeralClass {font-family: Times; color: red; font-size: 10vh; position: relative; z-index: 100;}


.imageBG {
        position: absolute; 
        background-image: url(assets/speedometer.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: dashed red 0px;
        width: 100vw;
        height: 100vh;
        margin-left: 0px;
        padding-left: 0px;
    }


.squareClass {    position: absolute;
                  width: 22vh;
                  height: 22vh;
                  top: 50vh;
                  left: 45%;
                  background-color: rgba(0,0,0,0.3);
                  border: 2px solid red;
                  border-radius: 100%;
                  transition: all 200ms ease-in-out;
                  will-change: transform;
                  z-index: 100;
            }
    

.squareClass:active   {transform: scale(0.97); background-color: rgba(0,0,0,0.9);
 -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  }
.squareClass:hover    {transform: scale(0.97);}
#squareId:hover + .buttonClass {transform: scale(0.97);}          

.buttonClass  {       position: absolute;
                      border-left: solid 12vh rgba(220,0,0,0.9);
                      border-top: solid 7vh transparent;
                      border-bottom: solid 7vh transparent;
                      border-right: solid 0vh transparent;
                      top: 54vh;
                      left: 48%;
                      background-color: rgba(0,0,0,0.0);
                      transition: all 200ms ease-in-out;
                      will-change: transform;
              }


#puzzle3rules{
position: absolute; 
        border: solid 4px rgba(255,245,255,0.9);
        margin-left: 10vh;
        margin-right: 10vh;
        margin-top: 10vh;
        background-color: rgba(255,255,255,0.9);
        transition-duration: 5s;
        transition-delay: 2s;
        

}



p {font-size: 5vh;text-transform: uppercase; padding: 2vh;}


#result {color: white;}