body{
  background-image: url('imgs/switchbg.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;

padding-bottom: 0;
display: relative;


}
  
  .wrap {
    align-content: center;
    -webkit-box-align: center;
            align-items: center;
    display: -webkit-box;
    position: absolute;
    height: 60vh;
    width: 60vh;
    -webkit-box-pack: center;
            justify-content: center;
            vertical-align: center;
            border: dotted pink 0px;
           top: 50%;
           left: 50%;
           margin-top: -30vh;
            margin-left: -30vh;

            

  }
  
  .panel {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset -0.4vh -0.4vh 0.8vh rgba(0, 0, 0, 0.25), inset 0.4vh 0.4vh 0.8vh rgba(255, 255, 255, 0.5), inset 0.2vh 0.2vh 0.2vh rgba(177, 177, 177, 0.25), -0.4vh -0.4vh 1.6vh rgba(255, 255, 255, 0.25), 1px 1px 1px rgba(0, 0, 0, 0.1), 4px 4px 2px rgba(0, 0, 0, 0.05), 0.6vh 0.6vh 0.3vh rgba(0, 0, 0, 0.05);
    height: 42vh;
    position: relative;
    width: 27vh;
  }
  
  .screw {
    align-content: center;
    -webkit-box-align: center;
            align-items: center;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 100%;
    box-shadow: inset -0.3vh -0.3vh 0.6vh rgba(0, 0, 0, 0.1), inset 0 0 0.2vh rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: flex;
    height: 2.4vh;
    -webkit-box-pack: center;
            justify-content: center;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 2.4vh;
  }
  .screw.top {
    top: 2.4vh;
  }
  .screw.top .screw__slot {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .screw.bottom {
    bottom: 2.4vh;
  }
  .screw.bottom .screw__slot {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  .screw__slot {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
    height: 0.4vh;
    width: calc(100% - 2px);
  }
  
  .switch {
    background-color: #fff;
    border-radius: 0.3vh;
    border: 1px solid #ddd;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75), -2px -2px 2px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
  }
  .switch__hole {
    background-color: #bbb;
    border-radius: 0.6vh;
    height: 24.0vh;
    left: 50%;
    padding: 0.2vh;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 12.0vh;
  }
  .switch__groove {
    background-color: #f7f7f7;
    border-radius: 0.5vh;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 4px rgba(0, 0, 0, 0.2), -1px -1px 4px rgba(255, 255, 255, 0.5);
    padding: 0.5vh;
    height: 100%;
    width: 100%;
  }
  .switch__top {
    background-color: #eee;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05), inset 0 0 2.4vh rgba(0, 0, 0, 0.025), inset -16px -16px 36px rgba(0, 0, 0, 0.1);
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: background 0.25s ease, box-shadow 0.25s ease;
    transition: background 0.25s ease, box-shadow 0.25s ease;
    width: 100%;
    z-index: 2;
  }
  .switch__top-outset {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#f7f7f7));
    background-image: linear-gradient(90deg, #fff 0%, #f7f7f7 100%);
    height: 1.0vh;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
  }
  .switch__bottom {
    background-color: #fff;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 12px rgba(0, 0, 0, 0.05);
    height: 50%;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: background 0.25s ease, box-shadow 0.25s ease;
    transition: background 0.25s ease, box-shadow 0.25s ease;
    width: 100%;
    z-index: 2;
  }
  .switch__bottom-outset {
    bottom: 0;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, from(#e7e7e7), to(#d7d7d7));
    background-image: linear-gradient(90deg, #e7e7e7 0%, #d7d7d7 100%);
    box-shadow: inset 0 0 0.3vh rgba(0, 0, 0, 0.1), inset 0 0 12px rgba(0, 0, 0, 0.05);
    height: 0px;
    position: absolute;
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
    width: 100%;
  }
  .switch__shadow-box {
    height: 20.8vh;
    left: 10.4vh;
    overflow: hidden;
    position: absolute;
    width: 10.0vh;
    z-index: 1;
  }
  .switch__shadow-box.top {
    top: -9.6vh;
  }
  .switch__shadow-box.bottom {
    top: 2.0vh;
  }
  .switch__shadow {
    background-color: rgba(0, 0, 0, 0.33);
    height: 9.0vh;
    position: absolute;
    -webkit-transition: left 0.25s ease, opacity 0.25s ease, -webkit-filter 0.25s ease, -webkit-transform 0.25s ease;
    transition: left 0.25s ease, opacity 0.25s ease, -webkit-filter 0.25s ease, -webkit-transform 0.25s ease;
    transition: left 0.25s ease, filter 0.25s ease, opacity 0.25s ease, transform 0.25s ease;
    transition: left 0.25s ease, filter 0.25s ease, opacity 0.25s ease, transform 0.25s ease, -webkit-filter 0.25s ease, -webkit-transform 0.25s ease;
    width: 9.0vh;
  }
  .switch__shadow.top {
    bottom: 2.0vh;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    left: -7.0vh;
    opacity: 1;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  .switch__shadow.bottom {
    bottom: 0;
    left: -9.0vh;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.5;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  .light-switch {
    position: absolute;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.33);
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transition: background-color 0.1s ease;
    transition: background-color 0.1s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100vw;
    z-index: 10;
  }
  
  input[type="checkbox"]:checked + .panel .switch__top {
    background-color: #fff;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 12px rgba(0, 0, 0, 0.05);
  }
  input[type="checkbox"]:checked + .panel .switch__top-outset {
    height: 0;
  }
  input[type="checkbox"]:checked + .panel .switch__bottom {
    background-color: #eee;
  }
  input[type="checkbox"]:checked + .panel .switch__bottom-outset {
    height: 10px;
  }
  input[type="checkbox"]:checked + .panel .switch__shadow.top {
    left: -90px;
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 0.5;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  input[type="checkbox"]:checked + .panel .switch__shadow.bottom {
    left: -70px;
    -webkit-filter: blur(10px);
            filter: blur(10px);
    opacity: 1;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  input[type="checkbox"]:checked + .panel .overlay {
    background-color: rgba(0, 0, 0, 0);
  }
  