

body{
	font-family: 'Libre Baskerville', serif;
	
	background-image: url(assets/cherrywooddark.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1600px;
	height: 900px;
	border: dashed blue 0px;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
	vertical-align: center;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;

	padding-bottom: 0;
	display: relative;
  
}


.stylin {
				position: absolute;	
				background-image: url(assets/fieldmonitor.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				border: dashed red 0px;
				width: 1600px;
				height: calc(1600px * (9/16));

		}

.video-styling {
				position: absolute;
				width: 700px;
				height: auto;
				border: solid orange 0px;
				top: 350px;
				left: 437px;
				}

.button1 {position: absolute;
					width: 50px;
					height: 38px;
					top: 805px;
					left: 939px;
					background-color: rgba(255,0,0,0.1);
					border-radius: 10px;
				}
		

.button1:hover {
			background-color: rgba(0,255,0,0.4);}


.button2 {position: absolute;
width: 50px;
height: 38px;
top: 805px;
left: 1000px;
background-color: rgba(255,255,0,0.7);
border-radius: 10px;
border: solid black 8px;
}
		

		.button2:hover {
					background-color: rgba(0,255,255,0.4);}