body {
background-image: url('assets/bg.jpg');
background-position: center top;
background-repeat: no-repeat;
background-size: 100vw, calc(100vw * 2.41);

height: calc(100vw * 2.41);
width: 100vw;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin: 0 auto;
padding: 0 0;
font-family: Metrophobic;
  font-variant-caps: small-caps;
  position: relative;
  border: solid GreenYellow 0px;
  /*filter: blur(10px);*/
   
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,0,0,0.6); /* Black w/ opacity */
  
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,0,255, 0.3);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 2%;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/*      IFRAMES       */

#phoneBFTF { 
            overflow: hidden;
            border:0px solid yellow; 
            background-color: rgba(0,0,0,0.0); 
            width: 65vw; 
            height: calc(65vw*0.63); 
            position: absolute; 
            right: 0vw; 
            top: 58vw; 
            overflow-y: none;
            overflow-x: none;
            cursor: pointer;
          }


#flowXOchatbox {
            border: 2px solid silver; width: 24.7vw; height: 42vw; border-radius: 24px; position: absolute; left: 66.4vw; top: 7.8vw;

            }

#chestPadlock { 
            overflow: hidden;
            border:2px solid yellow; 
            background-color: rgba(0,0,0,0.0); 
            width:100vw; 

            height: 685px; 
            position: absolute; 
            left: 0vw; 
            top: 110vh; 
            
          }

#padlockIframe {
          width:1004px;
          height:685px;
          overflow-y: none;
            overflow-x: none;
            cursor: pointer;
        }


iframe {
  padding: 0px;
  width: center.width;
  height: auto;
  border: dashed white 0px;
}

.iframinIt {background-color: black;}


/*STYLING OF THE PADLOCK TRIGGERING OF THE MODAL*/
#padlockButton {
            position: absolute;
            left: 20vw;
            top: 75vw;
            width: 7vw; 
            height: 9vw; 
            background-color: rgba(0,0,0,0.0);
            border: none;
            }

#padlockButton:hover {
            scale: 0.9;
            background-color: rgba(0,255,0,0.1);
            cursor: pointer;
            }



        .topItems {
  width: 50%;
  height: auto;
  position: relative;
  transition: 800ms;
  box-shadow: rgba(200,0,0,0.9);

}

.hoverItems {
  width: 20vw;
  height: auto;
  position: absolute;
  transition: 800ms;
  box-shadow: rgba(200,0,0,0.9);
  cursor: pointer;

}

.hoverItems:hover { transform: scale(1.5); z-index: 100; margin-left: 10vw;}

#IIIa       { position: absolute; 
              left: 3vw; 
              top: 140vw; 
              height: 40vw; 
              width: auto;
              transition: 1s;
            }

#IIIa:hover {right: 14vw; transform: scale(1.9);}

#rightside 
{
        
        
        
        float: left;

        width: 35vw; 
        height: 70vh;
        margin: 0px;


        background-color: rgba(0,0,0,0.0);  
        border: solid red 0px;
}

.imageDivs {background-image: url(assets/VII.png);
background-position: center;
background-repeat: no-repeat;

background-size: cover;
width: 35vw;
height: 35vw;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;}

#playId { border-left: 9.8vh solid black;
          border-top: 8.5vh solid transparent;
          border-bottom: 8.5vh solid transparent;
          background: transparent;
          cursor: pointer;
        }

#playId:active { transform: scale(0.8);}




/*actual text*/
h2 
{
          font-family: Metrophobic;
          color: white;
          font-size: 1.5vw;
          display: flex;
          font-variant-caps: small-caps;
          border: solid orange 0px;
          justify-content: center;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;
          border: solid red 0px;
          padding: 1vw;
         
}

p 
{
          font-family: Metrophobic;
          color: white;
          font-size: 1.2vw;
          display: flex;
          font-variant-caps: small-caps;
          border: solid orange 0px;
          justify-content: center;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;
          padding-left: 1vw;
          padding-right: 1vw;
}







/*  ALL THE DRAGGING OVERLAY OVER THE IMAGE FOR PUZZLE FJORD*/
/*TO PUSH THE GRAVE DROP ZONE WHERE EVER
#alpha {margin-top: 40%;}
#echo {margin-top: 35%;}
#india {margin-top: 35%;}
#mike {margin-top: 35%;}


/*DIV FOR ALL BLANK SPOTS*/
.blankarea {border-style: dotted;
border-color: red; 
padding-top: 0%;
padding-left: 1%;
padding-right: 1%;
height: 96vh;
border: blue dashed 0px;
/*
background-image: url("");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/
}



.draggable
{
  background:  rgba(0,0,0,0.0);
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  padding-top:     3%;
  padding-left:     3%;
  padding-right:     3%;

  border-color: blue;
  
  z-index: 100;
  display: flex;
}


#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    display: none;
}

/*  STARTING AREA FOR TABS  */
.dropzone
{
  min-height: 1%;
  flex: 1;
  justify-content: center;

}



.graveimg 
{
    width: 400px;
    margin: 0px;
    height: auto;
    

}
