body {
  background-image: url('assets/bg.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: 100vw 100%;
min-height: 2900px;
width: 100vw;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin: 0 auto;
font-family: Metrophobic;
  font-variant-caps: small-caps;
  position: relative;
  /*filter: blur(10px);*/
   
}


#popUp {
      background-image: url('assets/box-open.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 800px;
      height: 400px;
      border: dashed blue 0px;
      justify-content: center;
      margin: 0 auto;
      margin-top: 100px;
      font-family: Metrophobic;
      border: solid red 2px; 
      /*
        filter: blur(10px);
        background-color: rgba(255,255,255,0.8);
      */      
}

#popUpBackground {
      
      
      width: 1600px;
      height: 1600px;
     
      position: absolute;
      left: 0;
      top: 0;
        
        z-index: 100;
              
}





.iframinIt {background-color: black;}


#header {
        background-image: url('');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: rgba(0,0,0,0.0); 
        border: solid red 0px;
        height: auto;
        width: 100vw;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
        vertical-align: center;
}


#vertical-middle
        {   background-color: rgba(0,0,0,0.0);
            border: solid red 0px;
            height: auto; width: 100vw; margin: 0;
        }


#leftside 
        {   float: left;    
            background-color: rgba(0,0,0,0.0); 
            border: solid red 0px;      
            width: 1vw; height: auto; margin: 0px;
        }

/*Main Div*/
#center {
        width: 61vw;
        height: auto;     
        float: left;
        background-color: rgba(0,0,0,0.0); 
        border: solid black 0px;  
        margin: 0px;
     
        }

        .topItems {
  width: 50%;
  height: auto;
  position: relative;
  transition: 800ms;
  box-shadow: rgba(200,0,0,0.9);

}

.deskItems {
  width: 300px;
  height: auto;
  position: relative;
  transition: 800ms;
  box-shadow: rgba(200,0,0,0.9);

}

.deskItems:hover { transform: scale(1.5); z-index: 100;}


#rightside 
{
        
        
        
        float: left;

        width: 35vw; 
        height: 70vh;
        margin: 0px;


        background-color: rgba(0,0,0,0.0);  
        border: solid red 0px;
}

.imageDivs {background-image: url(assets/VII.png);
background-position: center;
background-repeat: no-repeat;

background-size: cover;
width: 35vw;
height: 35vw;
border: dashed blue 0px;
justify-content: center;
text-align: center;
align-items: center;
align-content: center;
vertical-align: center;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 0;}

#playId { border-left: 9.8vh solid black;
          border-top: 8.5vh solid transparent;
          border-bottom: 8.5vh solid transparent;
          background: transparent;
          cursor: pointer;
        }

#playId:active { transform: scale(0.8);}




/*actual text*/
h2 
{
          font-family: Metrophobic;
          color: white;
          font-size: 1.5vw;
          display: flex;
          font-variant-caps: small-caps;
          border: solid orange 0px;
          justify-content: center;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;
          border: solid red 0px;
          padding: 1vw;
         
}

p 
{
          font-family: Metrophobic;
          color: white;
          font-size: 1.2vw;
          display: flex;
          font-variant-caps: small-caps;
          border: solid orange 0px;
          justify-content: center;
          text-align: center;
          align-items: center;
          align-content: center;
          vertical-align: center;
          padding-left: 1vw;
          padding-right: 1vw;
}



iframe {
  padding: 0px;
  width: center.width;
  height: 69vh;
  border: dashed white 0px;
}




/*TO PUSH THE GRAVE DROP ZONE WHERE EVER*/
#alpha {margin-top: 40%;}
#echo {margin-top: 35%;}
#india {margin-top: 35%;}
#mike {margin-top: 35%;}


/*DIV FOR ALL BLANK SPOTS*/
.blankarea {border-style: dotted;
border-color: red; 
padding-top: 0%;
padding-left: 1%;
padding-right: 1%;
height: 96vh;
border: blue dashed 0px;
/*
background-image: url("");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
*/
}



.draggable
{
  background:  rgba(0,0,0,0.0);
  cursor:      move;
  font-weight: bold;
  list-style:  none;
  padding-top:     3%;
  padding-left:     3%;
  padding-right:     3%;

  border-color: blue;
  
  z-index: 100;
  display: flex;
}




#solvedtext 
{
    font-size: xx-large;
    font-weight: bolder;
    color: green;
    display: none;
}

/*  STARTING AREA FOR TABS  */
.dropzone
{
  min-height: 1%;
  flex: 1;
  justify-content: center;

}





.graveimg 
{
    width: 300px;
    margin: 0px;
    height: auto;
    

}
