body{
    background-color: transparent;
    width: 1200px;
    height: 600px;
    border: 0px solid red;
    color: black;

    overflow-y: none;
    display: inline-block;
}

.formStylin {background-color: none; color: black;}