@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


body {
  /*
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0);
  */
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 100vh;
  font-family: sans-serif;
  padding: 0 auto;

}

#fieldMonitorId {
  background-image: url('assets/fieldmonitor.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(100vh * (1050/700));
  height: 100vh;
  font-family: sans-serif; 
  margin: 0;
  border: solid 0px red;
/*1250
703*/
  
}

.insideMonitor {
  border: solid rgb(28, 0, 0) 2px;
  background-color:rgb(16, 0, 14);
  width: calc(75vh * (1050/700));
  height: 70vh;
  position: absolute;
  left: 19vh;
  top: 14vh;
  padding: 3vh;
  
}



h6 {
position: relative;     
font-family: 'Press Start 2P', cursive;
font-size: 3vh;
font-weight: normal;
color: rgba(10,255,0.70);
font-weight: normal;
overflow-wrap: break-word; word-wrap: break-word;
overflow-wrap: break-word; word-wrap: break-word;
white-space: pre-wrap;      /* CSS3 */   white-space: -moz-pre-wrap; /* Firefox */    white-space: -pre-wrap;     /* Opera <7 */   white-space: -o-pre-wrap;   /* Opera 7 */    
word-wrap: break-word; 
text-align: left;
line-height: 1.2;
z-index: 1;
border: solid 0PX red;
}

.tvText {    
font-weight: normal; 
word-wrap: break-word; 
text-align: left;
margin-bottom: 3vh;

}

.typingText {
border-right: solid 0.6vh rgba(0,255,0,.75);
white-space: nowrap;
overflow: hidden;
background-color: none;
text-align: left;
margin-top: 0;
}

/* Animation */
.typingText {
animation: animated-text 4s steps(29,end) 1s 1 normal both,
          animated-cursor 600ms steps(22,end) infinite;
}

/* text animation */
@keyframes animated-text{
from{width: 0;}
to{width: 70%;}
}

/* cursor animations */
@keyframes animated-cursor{
from{border-right-color: rgba(0,255,0,.75);}
to{border-right-color: transparent;}
}




/*DIV THAT'S THE CONTAINER BEHIND THE TV*/
.insideTVframe {
  position: absolute;

  background-color: rgba(0, 0, 0, 1.0);
  top: 22.7vw;
  left: 12vw;
  /*border-radius: 36% 7% 7% 8% / 19% 10% 53% 8%; */
  width: 33vw;

  height:  26vw;
  word-wrap: break-word;
  overflow-wrap: break-word; word-wrap: break-word;
  white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word; 
   align-items: left;
   align-content: left;
   vertical-align: center;
   
}

#formDiv {
  display:block;
  z-index: ;
  }
#successDiv {display:hidden}

.animaker {   
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



.videoDivClass {
      
        background-color: black;
        text-align: center;
        justify-content: center;
        vertical-align: center;
        margin: 0 auto;
        position: absolute;
        opacity: 1;
        top: 13vh;
        left: 19vh;
        border-radius: 5px;
        border: solid darkgrey 2px; 
}

.videoPlayerClass {
	      position: relative;	
        width: calc(63vh * (16/9));
        height: 70vh;
        border: solid orange 2px;
        margin: -10 auto;
       
        }



.videoButtonPlayClass {
      width: 7vh;
      height: 6vh;
      border-radius: 1vh;
      position: absolute;
      left: 111.5vh;
      top: 89vh;
      background-color: rgba(255, 0, 234, 0.382);
      animation-name: strobing;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}

.videoButtonPauseClass {
  width: 7vh;
  height: 6vh;
  border-radius: 1vh;
  position: absolute;
  left: 124vh;
  top: 89vh;
  background-color: rgba(255, 0, 234, 0.382);
  animation-name: strobing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes strobing {
  0% {background-color: rgba(255, 0, 234, 0.382);}
  50% {background-color: rgba(255, 255, 0, 0.567);}
  100% {background-color: rgba(255, 0, 234, 0.382);}
}


#videoDivSuccess{position:absolute; left: 0; top: 0;}
#videowindowSuccess{z-index: 1;}

.vbPlayClass {
  width: 7vh;
  height: 6vh;
  border-radius: 1vh;
  position: absolute;
  left: 79vh;
  top: 74.8vh;
  background-color: black;
 
  background-color: rgba(255, 0, 234, 0.382);
  animation-name: strobingSuccess;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.vbnPauseClass {
  width: 7vh;
  height: 6vh;
  border-radius: 1vh;
  position: absolute;
  left: 124vh;
  top: 74.8vh;
  background-color: rgba(255, 0, 234, 0.382);
  animation-name: strobingSuccess;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes strobingSuccess {
  0% {background-color: rgba(255, 0, 234, 0.382);}
  50% {background-color: rgba(255, 255, 0, 0.567);}
  100% {background-color: rgba(255, 0, 234, 0.382);}
}









/*





.controls {
  min-height: 60px;
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
}





.selected {
  border: 7px solid #fff;
  width: 40px;
  height: 40px;
}

button {
  position: absolute;
  left: 12.6vw;

  background-color: rgba(0,255,255,0.3);
  border: solid white 2px;
  border-radius: 10%;
  box-shadow: 0 3px 0 0 #6A845F;
  color: #000000;
  width: 4vw;
  height: 2.2vh;
  cursor: pointer;
  transition-delay: 0,5s;
  outline: none;
}
button:hover {
  background-color: rgba(0,0,255,0.3);
  transform: scale(0.95);
				}

button:focus {outline:0;}












.buttonHome {top: 19vh;}


.buttonVideo {top: 33vh;}


.buttonAudio { top: 46vh;}

.buttonMap { top: 59vh;}



*/


* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}



h3 {
  font-weight: 100;
  font-size: 1.5vh;
  color: #ccc;
  line-height: 3.6vh;
  margin-bottom: 0.4vh;
  padding: 0.51vh;
}

.delayedEntry {
  animation-name: late;
  animation-duration: 3s;
}

@keyframes late {
    0%   {opacity: 0.0;}
  
  100% {opacity: 1.0;}
}

form {
  width: auto;
}
form.success input {
  color: #8CE62C;
  border-color: #8CE62C;
}

p {color: white}

input {
  position: relative;     
  font-family: 'Press Start 2P', cursive;
  font-size: 3vh;
  font-weight: normal;
  font-weight: 100;
  width: 5vh;
  height: 7vh;
  border: 1px solid #CCCCCC;
  display: block-inline;
  margin-right: 0.2vh;
  outline: 0;
  color: rgb(0, 0, 0);
  line-height: 4vh;
  font-size: 5vh;
  text-align: center;
  cursor: pointer;
}
input:last-child {
  margin-right: 0;
}
input:hover {
  color: #9B9B9B;
}
input:focus {
  color: #0091FF;
  border-color:  rgba(243, 82, 93, 0.954);
}

 input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 

     .inputClass {
      font-family: 'Press Start 2P', cursive;
      font-size: 3vh;
      font-weight: normal;
      color: rgba(10,255,0.70);
      font-weight: normal;
      background-color: transparent;
      border: solid 2px rgb(30, 31, 30);
      border-bottom: dashed 2px rgba(10,255,0.70);
    }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttonSubmit {
  display: inline-block; 
  padding: 0px;
  width: auto;
  border-radius: 5%;
  font-size: 3vh;
  background-color: rgba(10,255,0.70);;
  color: black;
  border: solid 0.7vh rgba(243, 82, 93, 0.954);
  margin-left: 2vh;
  padding: 1.3vh;
}


.buttonSubmit:hover {
  display: inline-block;
  background: darkred;
}




.sendEmailClass {
  display: inline-block;
  border: solid red 2px;
  
  
  width: 10vw;
  height: 5vh;
  border-radius: 5%;
  background-color: rgba(255,255,255,1.0);
  border: solid white 2px;
  border-radius: 10%;
  box-shadow: 0 0px 0 0 #6A845F;
  color: black;
  cursor: pointer;
  transition-delay: 0,5s;
}



.emailInput {
width: 30vw;
  height: 10vh;
  border: 1px solid #CCCCCC;
  
  margin-bottom: 2vh;
  margin-top: 3vh;
  
  outline: 0;
  font-size: 4vh;
  color: #ccc;
  text-align: center;
  cursor: pointer;
}

.successBtn {
    
  border: solid 0.2vh rgba(255,255,255,0.5);
  background-color: white;
  width: 16vw;
  border-radius: 5%;

}
.romanNumeralClass {font-family: Times; color: red; font-size: 10vh; position: absolute; z-index: 100; left: 23%; top: 8vh;}
