body {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

#fieldMonitorId {
  background-image: url('assets/fieldmonitor.png');
  background-repeat: no-repeat;
  background-size: contain;
  
  width: 200vh;
  height: 100vh;
  font-family: sans-serif;
  
}


.insideMonitor {
  border: solid red 2px;
  background-color:green;
  width: 75vh;
  height: 46vh;
  position: absolute;
  left: 50vh;
  top: 38vh;
  padding: 1vh;
}

#formDiv {display:block}
#successDiv {display:hidden}



/*
.displayClass {
	width: 58vw;
  height: 35vw;
  background-color: black;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  margin: 0 auto;
  position: absolute;
  opacity: 0.9;

        top: 12.8vh;
        left: 20.6vw;
    
  display: block;
  border-radius: 5px;
  border: solid yellow 0px;
  color: white;
}





.videoDisplayClass {
  width: 58vw;
  height: 35vw;
  background-color: black;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  margin: 0 auto;
  position: absolute;
  opacity: 1;

        top: 13vh;
        left: 20.6vw;
    
  
  border-radius: 5px;
  border: solid yellow 0px;
  color: white;
}

.videoDivClass {
 width: calc(64vh * (16/9));
        height: 70vh;
  background-color: black;
  text-align: center;
  justify-content: center;
  vertical-align: center;
  margin: 0 auto;
  position: absolute;
  opacity: 1;

        top: 13vh;
        left: 20.5vw;
    
  display: block;
  border-radius: 5px;
  border: solid darkgrey 0px;
  z-index: 90;
}



.videoPlayerClass {
	position: absolute;	
	left: -0vw;
        padding-top: 0vh;
        width: calc(64vh * (16/9));
        height: 64vh;
        border: solid orange 0px;
       
        }



.SoundBarzClass {
  position: absolute; 
  left: -0vw;
        padding-top: 0vh;
        width: calc(64vh * (16/9));
        height: 80vh;
        border: solid orange 0px;
       
        }




.controls {
  min-height: 60px;
  margin: 0 auto;
  width: 600px;
  border-radius: 5px;
  overflow: hidden;
}





.selected {
  border: 7px solid #fff;
  width: 40px;
  height: 40px;
}

button {
  position: absolute;
  left: 12.6vw;

  background-color: rgba(0,255,255,0.3);
  border: solid white 2px;
  border-radius: 10%;
  box-shadow: 0 3px 0 0 #6A845F;
  color: #000000;
  width: 4vw;
  height: 2.2vh;
  cursor: pointer;
  transition-delay: 0,5s;
  outline: none;
}
button:hover {
  background-color: rgba(0,0,255,0.3);
  transform: scale(0.95);
				}

button:focus {outline:0;}












.buttonHome {top: 19vh;}


.buttonVideo {top: 33vh;}


.buttonAudio { top: 46vh;}

.buttonMap { top: 59vh;}



*/


* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}



h3 {
  font-weight: 100;
  font-size: 1.5vh;
  color: #ccc;
  line-height: 3.6vh;
  margin-bottom: 0.4vh;
  padding: 0.51vh;
}

.delayedEntry {
  animation-name: late;
  animation-duration: 3s;
}

@keyframes late {
    0%   {opacity: 0.0;}
  
  100% {opacity: 1.0;}
}

form {
  width: auto;
}
form.success input {
  color: #8CE62C;
  border-color: #8CE62C;
}

p {color: white}

input {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 50;
  width: 5vh;
  height: 7vh;
  border: 1px solid #CCCCCC;
  display: block-inline;
  
  margin-right: 0.2vh;
  outline: 0;
  
  color: black;
  line-height: 4vh;
font-size: 5vh;
  text-align: center;
  cursor: pointer;
}
input:last-child {
  margin-right: 0;
}
input:hover {
  color: #9B9B9B;
}
input:focus {
  color: #0091FF;
  border-color: #0091FF;
}

 input, input:before, input:after {
      -webkit-user-select: initial;
      -khtml-user-select: initial;
      -moz-user-select: initial;
      -ms-user-select: initial;
      user-select: initial;
     } 


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.buttonSubmit {
  display: inline-block;
  border: solid 0.2vh rgba(255,255,255,0.5);
  margin-top: 2vh;
  padding: 0px;
  width: 15vh;
  border-radius: 5%;
  font-size: 3vh;

}


.buttonSubmit:hover {
  display: inline-block;
  background: darkred;
}




.sendEmailClass {
  display: inline-block;
  border: solid red 2px;
  
  
  width: 10vw;
  height: 5vh;
  border-radius: 5%;
  background-color: rgba(255,255,255,1.0);
  border: solid white 2px;
  border-radius: 10%;
  box-shadow: 0 0px 0 0 #6A845F;
  color: black;
  cursor: pointer;
  transition-delay: 0,5s;
}



.emailInput {
width: 30vw;
  height: 10vh;
  border: 1px solid #CCCCCC;
  
  margin-bottom: 2vh;
  margin-top: 3vh;
  
  outline: 0;
  font-size: 4vh;
  color: #ccc;
  text-align: center;
  cursor: pointer;
}

.successBtn {
    
  border: solid 0.2vh rgba(255,255,255,0.5);
  background-color: white;
  width: 16vw;
  border-radius: 5%;

}
.romanNumeralClass {font-family: Times; color: red; font-size: 10vh; position: absolute; z-index: 100; left: 23%; top: 8vh;}
